In [ ]:
Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [8]:
import re
import regex as re
sub_= 'Python Exercises, PHP exercises.'
x=re.sub("[ ,.]",":", sub_)
print(x)

Python:Exercises::PHP:exercises:

In [ ]:
Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [12]:
import pandas as pd
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]|[XXXX]|[\d+]', '', x))
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [ ]:
Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [16]:
import re
target_string = 'The girl with the brown eyes went to the park to play a while ago.'
pattern = re.compile(r'\b\w{4,}\b')
output = pattern.findall(target_string)
print(output)

['girl', 'with', 'brown', 'eyes', 'went', 'park', 'play', 'while']

In [ ]:
Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [21]:
target_string='I was able to answer the questions well today, as I studied the subject during the weekend.'
pattern = re.compile(r'\b\w{3,5}\b') 
output = pattern.findall(target_string)
print(output)

['was', 'able', 'the', 'well', 'today', 'the', 'the']

In [ ]:
Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [43]:
import re
def remove_parentheses(strings):
    pattern= re.compile(r'\([^)]\)')
    cleaned_strings = [pattern.sub('', s).strip() for s in strings]
    return cleaned_strings

sample=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = remove_parentheses(sample)
print(output)

['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']

In [ ]:
Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [45]:
import re
import pandas as pd
def remove_parentheses(text):
    return re.sub(r'\([^)]*\)', "", text)
sample_text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = [remove_parentheses(item) for item in sample_text]
print(output)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [ ]:
Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [53]:
def split_uppercase(text):
    return re.findall('[A-Z][^A-Z]*', text)
sample_text = "ImportanceOfRegularExpressionsInPython"
output = split_uppercase(sample_text)
print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [55]:
import re
pattern = r'(\d+)'
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = re.sub(pattern, r' \1', sample_text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [ ]:
Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [58]:
import re
def insert_spaces(text):
    pattern = r'(\d+)'
    output = re.sub(pattern, r' \1 ',text)
    print(output)
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython
None

In [ ]:
Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [65]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
print (df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
153     0.22628            0.67042
154     0.18260            1.63328
155     0.47179            0.32858
156     0.19727            1.83302
157     0.16681            1.56726

[158 rows x 12 columns]

In [67]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
print(df['first_five_letters'])

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

In [ ]:
question 11-a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:
def text_match(text):
    pattern = '^[a-zA-Z0-9_]*$'
    if re.search(pattern, text):
        return 'Found a match!'
    else:
        return 'Not matched!'

In [ ]:
Question 12- Write a Python program where a string will start with a specific number.

In [84]:
import re
def start_withnumber(string):
    return string[0].isdigit()
print(start_withnumber('9742111'))

True

In [ ]:
Question 13- Write a Python program to remove leading zeros from an IP address

In [86]:
def remove_zeros_from_ip(ip_adr):
    return re.sub(r'(^|\.)0+(?=[^.])', r'\1', ip_adr)
print(remove_zeros_from_ip('10.0.01.10'))

10.0.1.10

In [ ]:
Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [88]:
import re
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"
matches = re.findall(pattern, text)
date_string = matches[0] if matches else None
print(date_string)

August 15th 1947

In [ ]:
question15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [ ]:
question 16- write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [ ]:
question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [94]:
def substrings(text):
    substrings = [substring.strip() for substring in text.split(',')]
    return substrings

sample_text = 'Python exercises, PHP exercises, C# exercises'
result = substrings('excercises')
print("Substrings found:")
for substring in result:
    print(substring)

Substrings found:
excercises

In [ ]:
question 18: Write a Python program to find the occurrence and position of the substrings within a string.

In [ ]:
Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [ ]:
import re
from datetime import datetime
original_date = "2026-01-02"
new_date = datetime.strptime(original_date, "%Y-%m-%d").strftime("%d-%m-%Y")
print("original date in yyyy-mm-dd format:", original_date)
print("new date in dd-mm-yyyy format:", new_date)

In [ ]:
Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [101]:
import re
def decimal_numbers(text):
    pattern =r"\d+\.\d{1,2}"
    decimal_matches = re.findall(pattern, text)
    return decimal_matches
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result =decimal_numbers(sample_text)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [ ]:
Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
import re
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
for m in re.finditer(r"\d+", text):
    print(f"Number: {m.group(0)}, Position: {m.start()}")

In [ ]:
Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [ ]:
import re
sample='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
largest_number = re.findall('\d+',sample)
number = map(int,largest_number)
print("Max_value:",max(number))

In [ ]:
Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: "RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [ ]:
import re
def insert_spaces(Sample_text):
    pattern = r'(?<=[a-z])([A-Z])'
    return re.sub(pattern,r' \1',Sample_text)
    
text= "RegularExpressionIsAnImportantTopicInPython"
result=insert_spaces(text)
print(result)

In [ ]:
Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [ ]:
pattern=^[A-Z]+[a-z]+$

In [ ]:
Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [113]:
import re
def duplicatewords_casesenstive(input):
     pattern = r'\b(\w+)(?:\W+\1\b)+'
     return re.sub(pattern, r'\1', input, flags=0)


sampletext = "Hello hello world world"
print(duplicatewords_casesenstive(sampletext))

Hello hello world

In [ ]:
Question 26:Write a python program using RegEx to accept string ending with alphanumeric character.

In [ ]:
import re
def alpha_numeric(sample):
    pattern = '[0-9]$'
    if re.search(pattern,sample):
        print("accept")
    else:
        print("reject")

In [ ]:
Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [133]:
import re

def hastags(sample):
    return re.findall(r'#\w+',sample)
sample ='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
output =hastags(sample)
print(output)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [129]:
import re
sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
regex = r"<U\+\w{4}>"
output= re.sub(regex, "",sample_text)
print(output)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [ ]:
Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [125]:
import re
def extractdates(text, pattern):
    return re.findall(pattern, text)
text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern = "\d{2}[/-]\d{2}[/-]\d{4}"
dates = extractdates(text, pattern)
print(dates)

['12-09-1992', '15-12-1999']

In [ ]:
Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [127]:
pattern = re.compile(r'\W*\b\w{2,4}\b')
sample="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result=pattern.sub('',sample)   
print(result)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.